#square1, #square2, #square3{
    width: 50px;
    height: 50px;
    position: absolute;
}
#square1{
    background-color: red;
	left: 30px;
	top: 30px;
}
#square2{
    background-color: blue;	
	left: 60px;
	top: 60px;
    z-index: 1;
}
#square3{
	background-color:  green;
	left: 90px;
	top: 90px;
}
